<div id="googleMap"></div>
<form name="zonesForm" class="form-horizontal"
ng-submit="restCtrl.POST(
	restCtrl.form.name,
	restCtrl.form.description,
	gCtrl.circle.radius,
	gCtrl.circle.center
)">
	<fieldset>
		<legend>Perfil de la Zona</legend>
		<div class="form-group">
			<label class="col-md-1">Nombre</label>
			<div class="col-md-11">
				<input class="form-control" type="text" name="name" ng-model="restCtrl.form.name" placeholder="Ingrese un nombre para la zona">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1" for="description">Descripcion de la zona</label>
			<div class="col-md-11">
				<textarea class="form-control" ng-model="restCtrl.form.description" name="description"></textarea>
				<span class="help-block">Puede identificar mas facilmente la zona, el area que cubre o el comportamiento, etc</span>
			</div>
		</div>
		<div class="form-group">
			<div>
				<label class="col-md-1">Radio</label>
				<div class="col-md-3">
					<input class="form-control" type="text" name="radio" placeholder="longitud en metros" ng-model="gCtrl.circle.radius">
				</div>
				<label class="col-md-1">Centro</label>
				<div class="col-md-3">
					<input class="form-control" type="text" placeholder="latitud" ng-model="gCtrl.circle.center.k" readonly>
				</div>
				<div class="col-md-4">
					<input class="form-control" type="text" placeholder="longitud" ng-model="gCtrl.circle.center.D" readonly>
				</div>
			</div>
		</div>
		<div class="form-group">
            <div class="col-md-4 col-md-offset-8">
                <button class="btn btn-default btn-flat">Ignorar</button>
                <button type="submit" class="btn btn-primary btn-flat">Guardar</button>
            </div>
        </div>
	</fieldset>
</form>
