<!-- Menu -->
<nav>
	<ul class="primary-nav">
		<!--Abonados-->
		<li>
			<a id="Abonados" href="#" title=""><span><i class="icon"></i>Abonados</span></a>
			<ul class="secondary-nav">
				<li>
					<a href="#" title=""><span>Registrar</span></a>
					<section class="menu-result">
						
					</section>

				</li>
				<li>
					<form accept-charset="utf-8">
						<label for="buscar_abonado"><span>Buscar</span></label>
						<input id="search" type="search" name="" value="" placeholder="">
					</form>
					<section class="menu-result">
						
					</section>
				</li>
			</ul>
		</li>

		<!--Monitorear-->
		<li>
			<a id="Monitorear" href="#" title="">Monitorear</a>
		</li>

		<!--Zonas-->
		<li>
			<a id="Zonas" href="#" title="">Zonas</a>
			<ul class="secondary-nav">
				<li>
					<form accept-charset="utf-8">
						<label for="bucar_zona"></label>
						<input id="buscar_zona" type="search" name="" value="" placeholder="buscar por nombre">
					</form>
					<section class="menu-result">
					
					</section>
				</li>
			</ul>
		</li>

		<!--Estadisticas-->
		<li>
			<a id="Estadisticas" href="#" title="">Estadisticas</a>
		</li>

		<!--Configuraciones-->
		<li>
			<a id="Configuraciones" href="#" title=""><span><i class="icon"></i>Configuraciones</span></a>
			<ul class="secondary-nav">
				<li>
					<a href="#" title=""><span>OBIS</span></a>
					<section>	
						
					</section>
				</li>
			</div>
		</li>
	</ul>
</nav>
<!-- End Menu -->
