<h1>{{restCtrl.form.name || restCtrl.viewZone.name}}</h1>
<blockquote>
	<p>{{restCtrl.form.description || restCtrl.viewZone.description }}</p>
</blockquote>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<i class="mdi-alert-warning indicators custom-warning"></i>
			<h1 class="GREY">
				Warning
				<span class="custom-warning">
					{{tableCtrl.Warning.total}}
				</span>
			</h1>
		</div>
		<div class="col-md-4">
			<i class="mdi-alert-error indicators custom-danger"></i>
			<h1 class="GREY">
				Danger
				<span class="custom-danger">
					{{tableCtrl.Danger.total}}
				</span>
			</h1>
		</div>
		<div class="col-md-4">
			<i class="mdi-action-home indicators custom-points"></i>
			<h1 class="GREY">
				Points 
				<span class="custom-points">
					{{tableCtrl.index}}
				</span>
			</h1>
		</div>
	</div>
</div>

<div class="table-responsive">
	<table class="table table-hover ">
		<caption>Parametros de importancia de la red electrica</caption>
		<thead>
			<tr>
				<th>Consumo -Kwh-</th>
				<th>Potencia Reactiva</th>
				<th>Potencia Instantanea</th>
				<th>Factor de Potencia</th>
				<th>Fecha</th>
				<th>Cargos -Gs-</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="data in restCtrl.data"

			ng-class="{
				warning:tableCtrl.warning($index, data),
				danger:tableCtrl.danger($index, data),
				info:tableCtrl.info($index)
			}" 
			ng-click="tableCtrl.selectRow($index, data)"
			ng-mouseover="tableCtrl.markerOnMap(data.localidad.coordinates)">
				<td>{{data.meassure.activa}}</td>
				<td>{{data.meassure.reactiva}}</td>
				<td>{{data.meassure.aparente}}</td>
				<td>{{data.meassure.fp}}</td>
				<td>{{data.meassure.date | date:'dd/MM/yyyy @ h:mma'}}</td>
			</tr>
		</tbody>
	</table>
</div>
