body{
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: white;
}

#googleMap{
	width: 100%;
	height: 400px;
}

.row .col-md-4 h1{
	text-align: center;
}

.indicators{
	width: 100%;
	text-align: center;
	font-size: 5em;
}

.custom-danger{
	color:#EBCCCC;
}

.custom-warning{
	color:#FAF2CC;
}

.custom-points{
	color: #b2ebf2;
}

.GREY{
	color:#9e9e9e;
}